<h1>用户注册</h1>
<%= form_for :user do |f| %>
  <p>
    <strong>用户名</strong><br>
    <%= f.text_area :user_name %>
  </p>
 
  <p>
    <strong>密码</strong><br>
    <%= f.text_area :user_pass %>
  </p>
  
  <p>
      <strong>确认密码</strong><br>
    <%= f.text_area :user_pass_confirm %>
  </p>
  <p>
    <%= f.submit "确认" %>
     <%= link_to '返回', index_path %>
  </p>
<% end %>
